/GBQ.json
/__pycache__
/credentials.py
/dags
/delta_exemplo_luan.py
/docker
/insets.sql
/ojdbc11.jar
/register-oracle.json
/spark-warehouse
/sparkusers.parquet
/svc_spark.json
/table_updated.sql
/svc-maseradb-delta.json
svc-maseradb-delta.json
nohup.out
/testing