/GBQ.json
/__pycache__
/credentials.py
/dags
/delta-core_2.12-2.2.0.jar
/delta-storage-2.2.0.jar
/delta_exemplo_luan.py
/docker
/gcs-connector-hadoop2-latest.jar
/insets.sql
/ojdbc11.jar
/ojdbc8.jar
/register-oracle.json
/spark-3.3-bigquery-0.29.0-preview.jar
/spark-warehouse
/sparkusers.parquet
/svc_spark.json
/table_updated.sql
/svc-maseradb-delta.json
svc-maseradb-delta.json
nohup.out